.header {
    background: var(--gray-700);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12.5rem;
    width: 100%;
    position: relative;
}

.newTaskForm {
    position: absolute;
    bottom: calc(-3.375rem / 2);
    
    height: 3.375rem;
    width: 100%;
    max-width: 46rem;
    display: flex;
    gap: 0.5rem;
    padding: 0 1rem;
}

.newTaskForm input {
    height: 100%;
    flex: 1;
    color: var(--gray-100);
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-size: 1rem;
}

.newTaskForm input:focus {
    box-shadow: 0 0 0 2px var(--blue);
}

.newTaskForm input::placeholder {
    color: var(--gray-300);
}

.newTaskForm button {
    height: 100%;
    padding: 0 1rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    border: none;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.375rem;
    font-weight: 700;
    font-size: 0.875rem;

}
@media screen and (max-width: 700px) {
    .header {
        height: 6rem;
        width: 100%;
    }

    .header img {
        max-height: 2rem;
        width: auto;
    }

    .newTaskForm {
        height: 2.5rem;
        bottom: calc(-2.5rem / 2);
        width: 40rem;
        padding: 0 2rem 0 0.5rem;

    }
}

@media screen and (max-width: 650px) {
    .header {
        height: 6rem;
        width: 100%;
    }

    .header img {
        max-height: 2rem;
        width: auto;
    }

    .newTaskForm {
        height: 2.5rem;
        bottom: calc(-2.5rem / 2);
        width: 36rem;
        padding: 0 2rem 0 0.5rem;

    }
}


@media screen and (max-width: 600px) {
    .header {
        height: 6rem;
        width: 100%;
    }

    .header img {
        max-height: 2rem;
        width: auto;
    }

    .newTaskForm {
        height: 2.5rem;
        bottom: calc(-2.5rem / 2);
        width: 90vw;
        padding: 0 2rem 0 0.5rem;

    }
}

@media screen and (max-width: 450px) {
    .header {
        height: 6rem;
        width: 100%;
    }

    .header img {
        max-height: 2rem;
        width: auto;
    }

    .newTaskForm {
        height: 2.5rem;
        bottom: calc(-2.5rem / 2);
        width: 100vw;
        padding: 0 2rem;

    }

    .newTaskForm input {
        flex: 0;
        width: 16rem;
    }
}

@media screen and (max-width: 400px) {
    .header {
        height: 6rem;
        width: 100%;
    }

    .header img {
        max-height: 2rem;
        width: auto;
    }

    .newTaskForm {
        height: 2.5rem;
        bottom: calc(-2.5rem / 2);
        width: 90%;
        padding: 0;
    }

    .newTaskForm input {
        flex: 0;
        width: 16rem;
    }
}

@media screen and (max-width: 400px) {
    
    .newTaskForm {
        padding: 0 1rem;
    }

    .newTaskForm input {
        flex: 0;
        width: 13rem;
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 370px) {
    .newTaskForm {
        padding: 0 ;
    }

    .newTaskForm input {
        flex: 0;
        width: 15rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 360px) {
    .newTaskForm {
        padding: 0 1rem;
    }

    .newTaskForm input {
        flex: 0;
        width: 12rem;
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 340px) {
    .newTaskForm {
        padding: 0 0.5rem;
    }

    .newTaskForm input {
        flex: 0;
        width: 12rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 320px) {
    .newTaskForm {
        padding: 0;
    }
}

@media screen and (max-width: 300px) {
    .newTaskForm input {
        width: 10rem;
    }
}